body {
  font-family: Calibri, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  border: 3px solid black;
  padding: 30px;
  width: 300px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-container textarea {
  height: 80px;
  resize: none;
  border-radius: 10px;
}

.form-container button {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
